{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<form method='POST' action='/pick_city'>
<table>
<th colspan="2">使用此窗体提交搜索请求：</th>
<td>
<select name="city">
<option value="广州">广州</option>
<option value="花县">花县</option>
<option value="新十">新十</option>
<option value="增城">增城</option>
<option value="从化">从化</option>
<option value="龙门">龙门</option>
<option value="番禺">番禺</option>
<option value="海口">海口</option>
<option value="汕头">汕头</option>
<option value="洪江">洪江</option>
<option value="茂名">茂名</option>
<option value="佛山">佛山</option>
</td>
</table>
<p>准备就绪后, 单击此按钮：</p>
<p><input value='搜寻！' type='SUBMIT'></p>
</form>

{% endblock %}
